.blogs-page{
    /* background:black; */
    display:flex;
    flex-direction: column;
}
.blogs-page h1{
    color:black;
    text-align:center;
}
.form-blog-container input,
.form-blog-container textarea,
.form-blog-container label,
.form-blog-container select,
.form-blog-container button,
.form-blog-container header,
.form-blog-container p,
.form-blog-container option{
    color:black;
}
.form-blog-container option{
    background: black;
    color: white;
} 
.pop-up_box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(38, 185, 190, 0.664);
    z-index: 2;
}
.pop-up_box p,
.pop-up_box header {
    color: black;
}
.pop-up_box .pop-up{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -40%);
}
.pop-up .content{
    border-radius: 5px;
    background: white;
    padding:10px;
}
.content header,
.settings ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop-up .content header{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}
.content header p{
    font-size: 20px;
    font-weight: 500;
    z-index: 5;
}
.content header i{
    /* Temporary border */
    padding: 20px;
    color: red;
    cursor: pointer;
    font-size: 23px;
}
.content .form-blog-container {
    margin: 15px 25px 35px;
}
.content .form-blog-container input{
    margin-bottom: 10px;
    height: 30px;
}
.content .form-blog-container textarea{
    height: 80px;
    resize: none;
    padding: 8px 6px;
}
.form-blog-container label{
    font-size: 18px;
    margin-bottom:6px ;
}
.form-blog-container select{
    border-radius: 5px;
    outline: none;
    margin-bottom: 6px;
}
.content .form-blog-container :where(input, textarea){
    width:100%;
    outline: none;
    font-size: 17px;
    padding: 0 5px;
    border-radius: 4px;
    border: 1px solid grey;
}
@media screen and (max-width:400px) {
.pop-up .content{
    padding:5px;
}
.pop-up_box .pop-up{
    max-width:300px;
}
}
.content .form-blog-container .add_blog{
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    margin-top: 4px;
    cursor: pointer;
    font-size: 17px;
    outline: none;
    box-shadow: 5px 5px  red;
    margin-bottom: -20px;
    border-radius: 5px;
    z-index: 100;
    transition: all .5s ease-in-out ;
}
.content .form-blog-container .add_blog:hover{
    margin-top: 7px;
    margin-left: 7px;
    box-shadow: none;
    transition: all .5s ease-in-out ;
}
.content .form-blog-container .cancelBtn{
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    margin-top: 4px;
    cursor: pointer;
    font-size: 17px;
    outline: none;
    box-shadow: 5px 5px  red;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    z-index: 100;
    transition: all .5s ease-in-out ;
}
.content .form-blog-container .cancelBtn:hover{
    margin-top: 20px;
    margin-left: 7px;
    box-shadow: none;
    transition: all .5s ease-in-out ;
}

.pop-up_box,
.pop-up_box .pop-up{
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease;
}
.pop-up_box.show,
.pop-up_box.show .pop-up{
    opacity:  1;
    pointer-events:auto;
}
.add{
    color:#fff;
    cursor:pointer;
    background:#777;
    border-radius:20px;
    border:1px solid white;
    padding:25px;
    transition:.3s ease-in-out;
        display: flex;
    align-self: center;
    text-align: center;
    margin: 1rem auto;
    box-shadow:inset 12px 12px 16px 0 rgba(255,255, 255, .3),
    inset -8px -8px 12px 0 rgba(0,0,0, .25),
    inset 3px 0px 20px 0 #333,
    inset -3px 0px 20px 0 #333,
    inset 5px 5px 20px 0 #333;
    transition: .3s ease-in-out;
    outline:none;
}
.add:hover{
  box-shadow: inset 0px 3px 20px 0 #333,
  inset 0px -3px 20px 0 #333;
}
.categories{
    display: flex;
    justify-content: space-between;
    background: transparent;
    flex-wrap: wrap;
    
}
.cat{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    width: 70px;
    height: 40px;
    cursor: pointer;
    margin-top: 1rem;
}
.cat:hover {
    background: black;
    border-color: white;
    color: white;
    transition: .3s ease-in-out;
}
.cat h6:hover{
    color: white;
    transition: .3s ease-in-out;
}
.cat h6{
    margin-top: 12px;
}
.categories h6{
    color: black;
}
/* .blogs{
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
} */
.blog-post{
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.432), rgba(0, 5, 5, 0.7)),
     url('../../../public/images/church5.jpg'); */
    background-position:unset ;
    background-size:cover ;
    background-repeat: no-repeat;
}
.blog-post h1,
.blog-post h6{
    color: white;
}
.blog-post h1{
    text-align: center;
}
.blog-post h6{
    align-self: flex-start;
    margin-left: 15px;
}
.blog-post p{
text-align: center;
    color: white;
    width: 250px;
}
.blog-post h6{
    padding-right: 30px;
}
.bottom{
    display:flex;
    /* justify-content: space-evenly; */
    /* position: relative; */
    /* top: 5rem; */
}
.blog-post .btn-blog{
    /* color: white; */
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    text-align: center;
    margin: 1rem auto;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom left, rgba(255, 0, 0, 0.432),rgba(255, 255, 255, 0.7));
    width: 100px;
    transition: .3s ease-in-out;
}
.blog-post .btn-blog .link{
    color: #fff;
}
.blog-post .btn-blog:hover{
    background: white;
    transition: .3s ease-in-out;
}
.blog-post .btn-blog:hover .link{
    color: black;
    transition: .3s ease-in-out;
}
.blog-post i{
    font-size:15px;
    cursor: pointer;
    padding:5px;
    color:white;
    z-index:50;
    padding-right: 8px;
}
.blog-post-actions{
    display:flex;
    padding-top: 5px;
}
.blog-post-actions button{
    margin-left: 10px;
    list-style: none;
    background:transparent;
    /* color:#333; */
    border:none;
    outline:none;
}
.blogs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    flex-wrap: wrap;
    /* flex-basis: 500px; */
}
@media (max-width: 500px) {
    .blogs-container{
        /* justify-content: center;
        align-items: center; */
        /* width: 1rem;
        height:100rem; */
    }
}
@media (max-width: 600px) {
    /* .blogs-container{
        width: 30rem;
    } */
}
@media (max-width: 780px) {
    /* .blogs-container{
        width: 60rem;
    } */
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left:4rem ;
}